body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

#canvas {
    /* border: 5px solid black; */
    background: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    display: none;
}